.explore-foods-page {
  background-color: #f8f9fa;
  height: 600px;
}

.explore-foods {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-evenly;
  width: 100%;
}

.explore-foods-btn {
  border: 2px solid black;
  font-size: 25px;
  height: 100px;
  width: 100%;
}
